# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [2]:
# Import your libraries:

%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import getpass


# Challenge 0 - Load,Query and Create connection of your Dataset

#### A lot of the times you won't have files already saved in an Excel or CSV file for you to prepare your data, implying that a lot of times you'll be extracting data from a Data Warehouse or Data Lake, majority of times through SQL.
#### A couple of times you may want to do some queries on your table in mySQL to get a slight view on what you have in hands,
#### so let's simulate that!

#### First we'll need to create a database and table in mySQL:

##### 1º- Open the austin_weather.sql file in MySQL Workbench and run the script into a desired schema.

#### 2º- As we are in mySQL Workbench, we can do some queries there, to get an overview on some characteristics of our data:
 - a) How many days are recorded in the dataset?
 - b) What is the day with the Highest Temperature in Fahrenheit (column TempHighF)
 - c) What is the average Humidity across all days? (column HumidityAvgPercent)
 - d) Top 10 days, where SeaLevelPressureAvgInches is the highest, knowing DewPointAvgF is higher than 28 ?

In [ ]:
# Write your answers below:

"""
a) How many days are recorded in the dataset? 1319 days
b) What is the day with the Highest Temperature in Fahrenheit (column TempHighF) 2017-07-29 00:00:00	107F
c) What is the average Humidity across all days? (column HumidityAvgPercent)  66.57088703563305
d) Top 10 days, where SeaLevelPressureAvgInches is the highest, knowing DewPointAvgF is higher than 28 ?
Date                SLP    DPAv.F
2016-11-19 00:00:00	30.54	30
2016-12-08 00:00:00	30.49	31
2014-12-31 00:00:00	30.48	29
2017-03-03 00:00:00	30.48	29
2016-01-01 00:00:00	30.48	33
2015-01-04 00:00:00	30.48	30
2014-01-23 00:00:00	30.47	29
2014-11-27 00:00:00	30.45	33
2015-12-04 00:00:00	30.45	38
2015-02-23 00:00:00	30.45	29
"""

#### Now that you explored a couple of elements in your table, let's bring your table into this jupyter notebook, by creating a Python-SQL connection like you did on MySQL Project!
#### In case you need a little refresher check this [link](https://www.dataquest.io/blog/sql-insert-tutorial/).
##### 1º - Create a connection using sqlalchemy from python to mysql 
##### 2º- Load the table into a variable called weather_df

In [3]:
# Your code here
username = input("Enter your MySQL username: ")
password = getpass.getpass("Enter your MySQL password: ")

# Database connection details
host = 'localhost'
port = '3306'
database = 'lab-intro-to-ml'

Enter your MySQL username: root
Enter your MySQL password: ········

In [6]:
# Create a connection string
connection_string = f'mysql+pymysql://{username}:{password}@{host}:{port}/{database}'
        
# Create an engine that connects to the database

engine = create_engine(connection_string)

In [7]:
# Load the 'austin_weather' table into a DataFrame called weather_df
weather_df = pd.read_sql_table('austin_weather', engine)


# Challenge 1 - Describe the Dataset

#### Describe the dataset you have loaded: 
- Look at the variables and their types
- Examine the descriptive statistics of the numeric variables 
- Look at the first five rows of all variables to evaluate the categorical variables as well

In [8]:
# Your code here
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1319 entries, 0 to 1318
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        1319 non-null   datetime64[ns]
 1   TempHighF                   1319 non-null   int64
 2   TempAvgF                    1319 non-null   int64
 3   TempLowF                    1319 non-null   int64
 4   DewPointHighF               1319 non-null   object
 5   DewPointAvgF                1319 non-null   object
 6   DewPointLowF                1319 non-null   object
 7   HumidityHighPercent         1319 non-null   object
 8   HumidityAvgPercent          1319 non-null   object
 9   HumidityLowPercent          1319 non-null   object
 10  SeaLevelPressureHighInches  1319 non-null   object
 11  SeaLevelPressureAvgInches   1319 non-null   object
 12  SeaLevelPressureLowInches   1319 non-null   object
 13  VisibilityHighMiles         1319 non-null   object
 14  VisibilityAvgMiles          1319 non-null   object
 15  VisibilityLowMiles          1319 non-null   object
 16  WindHighMPH                 1319 non-null   object
 17  WindAvgMPH                  1319 non-null   object
 18  WindGustMPH                 1319 non-null   object
 19  PrecipitationSumInches      1319 non-null   object
 20  Events                      1319 non-null   object
dtypes: datetime64[ns](1), int64(3), object(17)
memory usage: 216.5+ KB

In [11]:
# Your code here
weather_df.describe()

                      Date    TempHighF     TempAvgF     TempLowF
count                 1319  1319.000000  1319.000000  1319.000000
mean   2015-10-11 00:00:00    80.862775    70.642911    59.902957
min    2013-12-21 00:00:00    32.000000    29.000000    19.000000
25%    2014-11-15 12:00:00    72.000000    62.000000    49.000000
50%    2015-10-11 00:00:00    83.000000    73.000000    63.000000
75%    2016-09-04 12:00:00    92.000000    83.000000    73.000000
max    2017-07-31 00:00:00   107.000000    93.000000    81.000000
std                    NaN    14.766523    14.045904    14.190648

In [12]:
# Your code here
weather_df.head()

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events
0,2013-12-21,74,60,45,67,49,43,93,75,57,...,29.68,29.59,10,7,2,20,4,31,0.46,"Rain , Thunderstorm"
1,2013-12-22,56,48,39,43,36,28,93,68,43,...,30.13,29.87,10,10,5,16,6,25,0,
2,2013-12-23,58,45,32,31,27,23,76,52,27,...,30.49,30.41,10,10,10,8,3,12,0,
3,2013-12-24,61,46,31,36,28,21,89,56,22,...,30.45,30.3,10,10,7,12,4,20,0,
4,2013-12-25,58,50,41,44,40,36,86,71,56,...,30.33,30.27,10,10,7,10,2,16,T,

#### Given the information you have learned from examining the dataset, write down three insights about the data in a markdown cell below

#### Your Insights:

1. There are 21 variables in the dataset. 3 of them are numeric and the rest contain some text.

2. The average temperature in Austin ranged between around 29 degrees F and around 93 degrees F. The highest temperature observed during this period was 107 degrees F and the lowest was 19 degrees F.

3. When we look at the head function, we see that a lot of variables contain numeric data even though these columns are of object type. This means we might have to do some data cleansing.

#### Let's examine the DewPointAvgF variable by using the `unique()` function to list all unique values in this dataframe.

Describe what you find in a markdown cell below the code. What did you notice? What do you think made Pandas to treat this column as *object* instead of *int64*?

In [13]:
# Your code here
weather_df['DewPointAvgF'].unique()

array(['49', '36', '27', '28', '40', '39', '41', '26', '42', '22', '48',
       '32', '8', '11', '45', '55', '61', '37', '47', '25', '23', '20',
       '33', '30', '29', '17', '14', '13', '54', '59', '15', '24', '34',
       '35', '57', '50', '53', '60', '46', '56', '51', '31', '38', '62',
       '43', '63', '64', '67', '66', '58', '70', '68', '65', '69', '71',
       '72', '-', '73', '74', '21', '44', '52', '12', '75', '76', '18'],
      dtype=object)

#### Your observation here

There is one - value that made pandas take this variable as an object and not an integer as expected looking at the other values

The following is a list of columns misrepresented as `object`. Use this list to convert the columns to numeric using the `pandas.to_numeric` function in the next cell. If you encounter errors in converting strings to numeric values, you need to catch those errors and force the conversion by supplying `errors='coerce'` as an argument for `pandas.to_numeric`. Coercing will replace non-convertable elements with `NaN` which represents an undefined numeric value. This makes it possible for us to conveniently handle missing values in subsequent data processing.

*Hint: you may use a loop to change one column at a time but it is more efficient to use `apply`.*

In [14]:
wrong_type_columns = ['DewPointHighF', 'DewPointAvgF', 'DewPointLowF', 'HumidityHighPercent', 
                      'HumidityAvgPercent', 'HumidityLowPercent', 'SeaLevelPressureHighInches', 
                      'SeaLevelPressureAvgInches' ,'SeaLevelPressureLowInches', 'VisibilityHighMiles',
                      'VisibilityAvgMiles', 'VisibilityLowMiles', 'WindHighMPH', 'WindAvgMPH', 
                      'WindGustMPH', 'PrecipitationSumInches']

In [15]:
# Your code here
# Convert each column in wrong_type_columns to numeric, coercing errors to NaN

weather_df[wrong_type_columns] = weather_df[wrong_type_columns].apply(pd.to_numeric, errors='coerce')

In [17]:
# Check the data types again to ensure the conversion was successful
weather_df[wrong_type_columns].dtypes

DewPointHighF                 float64
DewPointAvgF                  float64
DewPointLowF                  float64
HumidityHighPercent           float64
HumidityAvgPercent            float64
HumidityLowPercent            float64
SeaLevelPressureHighInches    float64
SeaLevelPressureAvgInches     float64
SeaLevelPressureLowInches     float64
VisibilityHighMiles           float64
VisibilityAvgMiles            float64
VisibilityLowMiles            float64
WindHighMPH                   float64
WindAvgMPH                    float64
WindGustMPH                   float64
PrecipitationSumInches        float64
dtype: object

#### Check if your code has worked by printing the data types again. You should see only two `object` columns (`Date` and `Events`) now. All other columns should be `int64` or `float64`.

In [18]:
# Your code here
weather_df.dtypes

Date                          datetime64[ns]
TempHighF                              int64
TempAvgF                               int64
TempLowF                               int64
DewPointHighF                        float64
DewPointAvgF                         float64
DewPointLowF                         float64
HumidityHighPercent                  float64
HumidityAvgPercent                   float64
HumidityLowPercent                   float64
SeaLevelPressureHighInches           float64
SeaLevelPressureAvgInches            float64
SeaLevelPressureLowInches            float64
VisibilityHighMiles                  float64
VisibilityAvgMiles                   float64
VisibilityLowMiles                   float64
WindHighMPH                          float64
WindAvgMPH                           float64
WindGustMPH                          float64
PrecipitationSumInches               float64
Events                                object
dtype: object

# Challenge 2 - Handle the Missing Data

#### Now that we have fixed the type mismatch, let's address the missing data.

By coercing the columns to numeric, we have created `NaN` for each cell containing characters. We should choose a strategy to address these missing data.

The first step is to examine how many rows contain missing data.

We check how much missing data we have by applying the `.isnull()` function to our dataset. To find the rows with missing data in any of its cells, we apply `.any(axis=1)` to the function. `austin.isnull().any(axis=1)` will return a column containing true if the row contains at least one missing value and false otherwise. Therefore we must subset our dataframe with this column. This will give us all rows with at least one missing value. 

#### In the next cell, identify all rows containing at least one missing value. Assign the dataframes with missing values to a variable called `missing_values`.

In [23]:
# Your code here
missing_data_mask = weather_df.isnull().any(axis=1)
# Subset the DataFrame to include only rows with missing data
missing_values = weather_df[missing_data_mask]
num_rows_with_missing_data = missing_values.shape[0]
print(f"Number of rows with at least one missing value: {num_rows_with_missing_data}")

Number of rows with at least one missing value: 136

There are multiple strategies to handle missing data. Below lists the most common ones data scientists use:

* Removing all rows or all columns containing missing data. This is the simplest strategy. It may work in some cases but not others.

* Filling all missing values with a placeholder value. 
    * For categorical data, `0`, `-1`, and `9999` are some commonly used placeholder values. 
    * For continuous data, some may opt to fill all missing data with the mean. This strategy is not optimal since it can increase the fit of the model.

* Filling the values using some algorithm. 

#### In our case, we will use a hybrid approach which is to first remove the data that contain most missing values then fill in the rest of the missing values with the *linear interpolation* algorithm.

#### Next, count the number of rows of `austin` and `missing_values`.

In [24]:
# Your code here
# Total number of rows in the dataset
total_rows = weather_df.shape[0]
# Number of rows with at least one missing value
missing_rows = weather_df.isnull().any(axis=1).sum()

print(f"Total nuber of rows: {total_rows}")
print(f"Number of rows with missing data: {missing_rows}")

Total nuber of rows: 1319
Number of rows with missing data: 136

#### Calculate the ratio of missing rows to total rows

In [27]:
# Your code here
# Ratio of missing rows to total rows
missing_ratio = missing_rows / total_rows
print(f"Ratio of missing rows to total rows: {missing_ratio: .2%}")

Ratio of missing rows to total rows:  10.31%

As you can see, there is a large proportion of missing data (over 10%). Perhaps we should evaluate which columns have the most missing data and remove those columns. For the remaining columns, we will perform a linear approximation of the missing data.

We can find the number of missing rows in each column using the `.isna()` function. We then chain the `.sum` function to the `.isna()` function and find the number of missing rows per column

In [28]:
# Your code here
# Number of missing values per column 
missing_per_column = weather_df.isna().sum()

print("Number of missing values per column:")
missing_per_column[missing_per_column > 0]

Number of missing values per column:

DewPointHighF                   7
DewPointAvgF                    7
DewPointLowF                    7
HumidityHighPercent             2
HumidityAvgPercent              2
HumidityLowPercent              2
SeaLevelPressureHighInches      3
SeaLevelPressureAvgInches       3
SeaLevelPressureLowInches       3
VisibilityHighMiles            12
VisibilityAvgMiles             12
VisibilityLowMiles             12
WindHighMPH                     2
WindAvgMPH                      2
WindGustMPH                     4
PrecipitationSumInches        124
dtype: int64

#### As you can see from the output, the majority of missing data is in one column called `PrecipitationSumInches`. What's the number of missing values in this column in ratio to its total number of rows?

In [30]:
# Your code here
# Number of missing values in the 'PrecipitationSumInches' column
missing_precipitation = missing_per_column['PrecipitationSumInches']
# Ratio of missing values in this column to total rows
precipitation_missing_ratio = missing_precipitation / total_rows
print(f"Missing ratio in 'PrecipitationSumInches' column: {precipitation_missing_ratio: .2%}")

Missing ratio in 'PrecipitationSumInches' column:  9.40%

Almost 10% data missing! Therefore, we prefer to remove this column instead of filling its missing values. 

#### Remove this column from `austin` using the `.drop()` function. Use the `inplace=True` argument.

*Hints:*

* By supplying `inplace=True` to `drop()`, the original dataframe object will be changed in place and the function will return `None`. In contrast, if you don't supply `inplace=True`, which is equivalent to supplying `inplace=False` because `False` is the default value, the original dataframe object will be kept and the function returns a copy of the transformed dataframe object. In the latter case, you'll have to assign the returned object back to your variable.

* Also, since you are dropping a column instead of a row, you'll need to supply `axis=1` to `drop()`.

[Reference for `pandas.DataFrame.drop`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html)

In [31]:
# Your code here 
# Drop the 'PrecipitationSumInches' column

weather_df.drop(columns = ['PrecipitationSumInches'], axis=1, inplace=True)

# Print `Weather_df` to confirm the column is indeed removed

weather_df.head()

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,SeaLevelPressureHighInches,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,Events
0,2013-12-21,74,60,45,67.0,49.0,43.0,93.0,75.0,57.0,29.86,29.68,29.59,10.0,7.0,2.0,20.0,4.0,31.0,"Rain , Thunderstorm"
1,2013-12-22,56,48,39,43.0,36.0,28.0,93.0,68.0,43.0,30.41,30.13,29.87,10.0,10.0,5.0,16.0,6.0,25.0,
2,2013-12-23,58,45,32,31.0,27.0,23.0,76.0,52.0,27.0,30.56,30.49,30.41,10.0,10.0,10.0,8.0,3.0,12.0,
3,2013-12-24,61,46,31,36.0,28.0,21.0,89.0,56.0,22.0,30.56,30.45,30.30,10.0,10.0,7.0,12.0,4.0,20.0,
4,2013-12-25,58,50,41,44.0,40.0,36.0,86.0,71.0,56.0,30.41,30.33,30.27,10.0,10.0,7.0,10.0,2.0,16.0,

#### Next we will perform linear interpolation of the missing data.

This means that we will use a linear algorithm to estimate the missing data. Linear interpolation assumes that there is a straight line between the points and the missing point will fall on that line. This is a good enough approximation for weather related data. Weather related data is typically a time series. Therefore, we do not want to drop rows from our data if possible. It is prefereable to estimate the missing values rather than remove the rows. However, if you have data from a single point in time, perhaps a better solution would be to remove the rows. 

If you would like to read more about linear interpolation, you can do so [here](https://en.wikipedia.org/wiki/Linear_interpolation).

In the following cell, use the `.interpolate()` function on the entire dataframe. This time pass the `inplace=False` argument to the function and assign the interpolated dataframe to a new variable called `austin_fixed` so that we can compare with `austin`.

In [34]:
# Your code here
# Perform linear interpolation on the dataset

weather_df_fixed = weather_df.interpolate(inplace=False)

C:\Users\guada\AppData\Local\Temp\ipykernel_31964\1440976405.py:4: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  weather_df_fixed = weather_df.interpolate(inplace=False)

#### Check to make sure `austin_fixed` contains no missing data. Also check `austin` - it still contains missing data.

In [35]:
# Your code here
# Check for missing data in the original DataFrame
print("Missing data in original DataFrame:")
print(weather_df.isnull().sum().sum())
# Check to ensure there are no missing values in the interpolated DataFrame
print("Missing data after interpolation:")
print(weather_df_fixed.isnull().sum().sum())

Missing data in original DataFrame:
80
Missing data after interpolation:
0

# Challenge 3 - Processing the `Events` Column

#### Our dataframe contains one true text column - the Events column. We should evaluate this column to determine how to process it.

Use the `value_counts()` function to evaluate the contents of this column

In [36]:
# Your code here:
weather_df['Events'].value_counts()

Events
                             903
Rain                         192
Rain , Thunderstorm          137
Fog , Rain , Thunderstorm     33
Fog                           21
Thunderstorm                  17
Fog , Rain                    14
Rain , Snow                    1
Fog , Thunderstorm             1
Name: count, dtype: int64

Reading the values of `Events` and reflecting what those values mean in the context of data, you realize this column indicates what weather events had happened in a particular day.

#### What is the largest number of events happened in a single day? Enter your answer in the next cell.

In [39]:
# Your answer:
3

3

#### We want to transform the string-type `Events` values to the numbers. This will allow us to apply machine learning algorithms easily.

How? We will create a new column for each type of events (i.e. *Rain*, *Snow*, *Fog*, *Thunderstorm*. In each column, we use `1` to indicate if the corresponding event happened in that day and use `0` otherwise.

Below we provide you a list of all event types. Loop the list and create a dummy column with `0` values for each event in `austin_fixed`. To create a new dummy column with `0` values, simply use `austin_fixed[event] = 0`.

In [40]:
event_list = ['Snow', 'Fog', 'Rain', 'Thunderstorm']

# Your code here
# Create dummy columns for each event type and initialize with 0
for event in event_list: 
    weather_df[event] = 0

# Print your new dataframe to check whether new columns have been created:

weather_df.head()

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,Events,Snow,Fog,Rain,Thunderstorm
0,2013-12-21,74,60,45,67.0,49.0,43.0,93.0,75.0,57.0,...,7.0,2.0,20.0,4.0,31.0,"Rain , Thunderstorm",0,0,0,0
1,2013-12-22,56,48,39,43.0,36.0,28.0,93.0,68.0,43.0,...,10.0,5.0,16.0,6.0,25.0,,0,0,0,0
2,2013-12-23,58,45,32,31.0,27.0,23.0,76.0,52.0,27.0,...,10.0,10.0,8.0,3.0,12.0,,0,0,0,0
3,2013-12-24,61,46,31,36.0,28.0,21.0,89.0,56.0,22.0,...,10.0,7.0,12.0,4.0,20.0,,0,0,0,0
4,2013-12-25,58,50,41,44.0,40.0,36.0,86.0,71.0,56.0,...,10.0,7.0,10.0,2.0,16.0,,0,0,0,0

#### Next, populate the actual values in the dummy columns of  `austin_fixed`.

You will check the *Events* column. If its string value contains `Rain`, then the *Rain* column should be `1`. The same for `Snow`, `Fog`, and `Thunderstorm`.

*Hints:*

* Use [`pandas.Series.str.contains()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html) to create the value series of each new column.

* What if the values you populated are booleans instead of numbers? You can cast the boolean values to numbers by using `.astype(int)`. For instance, `pd.Series([True, True, False]).astype(int)` will return a new series with values of `[1, 1, 0]`.

In [45]:
# Your code here
# Populate the dummy columns based on the Events column
for event in event_list:
    weather_df[event] = weather_df['Events'].str.contains(event, na=False).astype(int)

#### Print out `austin_fixed` to check if the event columns are populated with the intended values

In [46]:
# Your code here
weather_df.sample(25)

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,Events,Snow,Fog,Rain,Thunderstorm
362,2014-12-18,60,55,49,56.0,51.0,48.0,100.0,92.0,84.0,...,4.0,1.0,12.0,3.0,17.0,,0,0,0,0
67,2014-02-26,52,44,36,46.0,33.0,21.0,83.0,63.0,43.0,...,8.0,2.0,20.0,8.0,29.0,Rain,0,0,1,0
933,2016-07-11,100,90,79,75.0,71.0,65.0,85.0,60.0,35.0,...,10.0,9.0,17.0,9.0,31.0,,0,0,0,0
979,2016-08-26,93,84,75,75.0,73.0,71.0,94.0,73.0,52.0,...,10.0,10.0,13.0,3.0,20.0,,0,0,0,0
623,2015-09-05,101,90,79,77.0,73.0,66.0,91.0,62.0,33.0,...,10.0,10.0,16.0,7.0,24.0,,0,0,0,0
488,2015-04-23,85,77,68,72.0,69.0,66.0,100.0,85.0,69.0,...,8.0,1.0,10.0,4.0,16.0,,0,0,0,0
1152,2017-02-15,65,54,43,38.0,33.0,27.0,82.0,53.0,24.0,...,10.0,10.0,16.0,7.0,24.0,,0,0,0,0
431,2015-02-25,63,49,35,36.0,34.0,28.0,100.0,64.0,27.0,...,8.0,3.0,13.0,3.0,21.0,Rain,0,0,1,0
1054,2016-11-09,65,63,60,62.0,61.0,58.0,100.0,94.0,87.0,...,6.0,1.0,10.0,6.0,17.0,Rain,0,0,1,0
1081,2016-12-06,58,51,43,48.0,45.0,43.0,100.0,84.0,67.0,...,8.0,0.0,17.0,4.0,27.0,Fog,0,1,0,0
861,2016-04-30,86,76,66,74.0,67.0,62.0,94.0,73.0,51.0,...,8.0,0.0,13.0,4.0,23.0,"Fog , Rain , Thunderstorm",0,1,1,1
377,2015-01-02,43,41,38,41.0,39.0,37.0,100.0,95.0,89.0,...,4.0,2.0,12.0,5.0,18.0,"Rain , Thunderstorm",0,0,1,1
835,2016-04-04,83,68,53,53.0,46.0,38.0,66.0,48.0,30.0,...,10.0,10.0,12.0,4.0,18.0,,0,0,0,0
684,2015-11-05,85,79,72,74.0,72.0,69.0,100.0,83.0,65.0,...,9.0,2.0,12.0,6.0,19.0,"Rain , Thunderstorm",0,0,1,1
737,2015-12-28,46,41,36,34.0,30.0,28.0,92.0,75.0,58.0,...,10.0,10.0,21.0,8.0,35.0,,0,0,0,0
1174,2017-03-09,80,74,67,66.0,64.0,59.0,93.0,79.0,64.0,...,10.0,6.0,14.0,5.0,23.0,"Rain , Thunderstorm",0,0,1,1
305,2014-10-22,83,72,61,62.0,59.0,56.0,84.0,67.0,49.0,...,10.0,10.0,9.0,2.0,14.0,Rain,0,0,1,0
1233,2017-05-07,88,75,61,59.0,57.0,56.0,78.0,56.0,34.0,...,10.0,10.0,15.0,6.0,23.0,,0,0,0,0
109,2014-04-09,84,65,45,51.0,42.0,37.0,77.0,51.0,24.0,...,10.0,10.0,13.0,6.0,22.0,,0,0,0,0
1132,2017-01-26,59,50,40,30.0,27.0,24.0,64.0,46.0,28.0,...,10.0,10.0,10.0,3.0,14.0,,0,0,0,0
788,2016-02-17,75,63,50,42.0,33.0,25.0,44.0,35.0,25.0,...,10.0,10.0,13.0,6.0,21.0,,0,0,0,0
679,2015-10-31,77,71,65,73.0,65.0,59.0,100.0,82.0,64.0,...,8.0,1.0,16.0,4.0,27.0,"Rain , Thunderstorm",0,0,1,1
791,2016-02-20,76,71,66,64.0,62.0,60.0,87.0,76.0,64.0,...,10.0,7.0,14.0,6.0,21.0,,0,0,0,0
528,2015-06-02,90,79,67,70.0,66.0,64.0,93.0,70.0,46.0,...,10.0,10.0,9.0,2.0,16.0,,0,0,0,0
1118,2017-01-12,81,74,67,65.0,63.0,59.0,87.0,70.0,52.0,...,10.0,7.0,14.0,8.0,26.0,,0,0,0,0

#### If your code worked correctly, now we can drop the `Events` column as we don't need it any more.

In [47]:
# Your code here
weather_df.drop(columns=['Events'], axis=1, inplace=True)

# Challenge 4 - Processing The `Date` Column

The `Date` column is another non-numeric field in our dataset. A value in that field looks like `'2014-01-06'` which consists of the year, month, and day connected with hyphens. One way to convert the date string to numerical is using a similar approach as we used for `Events`, namely splitting the column into numerical `Year`, `Month`, and `Day` columns. In this challenge we'll show you another way which is to use the Python `datetime` library's `toordinal()` function. Depending on what actual machine learning analysis you will conduct, each approach has its pros and cons. Our goal today is to practice data preparation so we'll skip the discussion here.

Here you can find the [reference](https://docs.python.org/3/library/datetime.html) and [example](https://stackoverflow.com/questions/39846918/convert-date-to-ordinal-python) for `toordinal`. The basic process is to first convert the string to a `datetime` object using `datetime.datetime.strptime`, then convert the `datetime` object to numerical using `toordinal`.
9
#### In the cell below, convert the `Date` column values from string to numeric values using `toordinal()`.

In [48]:
# Your code here
import datetime
# Convert the Date column to datetime and then to numeric using toordinal
weather_df['Date'] = pd.to_datetime(weather_df['Date']).apply(lambda x: x.toordinal())

#### Print `austin_fixed` to check your `Date` column.

In [49]:
weather_df.head(5)

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,Snow,Fog,Rain,Thunderstorm
0,735223,74,60,45,67.0,49.0,43.0,93.0,75.0,57.0,...,10.0,7.0,2.0,20.0,4.0,31.0,0,0,1,1
1,735224,56,48,39,43.0,36.0,28.0,93.0,68.0,43.0,...,10.0,10.0,5.0,16.0,6.0,25.0,0,0,0,0
2,735225,58,45,32,31.0,27.0,23.0,76.0,52.0,27.0,...,10.0,10.0,10.0,8.0,3.0,12.0,0,0,0,0
3,735226,61,46,31,36.0,28.0,21.0,89.0,56.0,22.0,...,10.0,10.0,7.0,12.0,4.0,20.0,0,0,0,0
4,735227,58,50,41,44.0,40.0,36.0,86.0,71.0,56.0,...,10.0,10.0,7.0,10.0,2.0,16.0,0,0,0,0

# Challenge 5 - Sampling and Holdout Sets

#### Now that we have processed the data for machine learning, we will separate the data to test and training sets.

We first train the model using only the training set. We check our metrics on the training set. We then apply the model to the test set and check our metrics on the test set as well. If the metrics are significantly more optimal on the training set, then we know we have overfit our model. We will need to revise our model to ensure it will be more applicable to data outside the test set.

#### In the next cells we will separate the data into a training set and a test set using the `train_test_split()` function in scikit-learn.

When using `scikit-learn` for machine learning, we first separate the data to predictor and response variables. This is the standard way of passing datasets into a model in `scikit-learn`. The `scikit-learn` will then find out whether the predictors and responses fit the model.

In the next cell, assign the `TempAvgF` column to `y` and the remaining columns to `X`. Your `X` should be a subset of `austin_fixed` containing the following columns: 

```['Date',
 'TempHighF',
 'TempLowF',
 'DewPointHighF',
 'DewPointAvgF',
 'DewPointLowF',
 'HumidityHighPercent',
 'HumidityAvgPercent',
 'HumidityLowPercent',
 'SeaLevelPressureHighInches',
 'SeaLevelPressureAvgInches',
 'SeaLevelPressureLowInches',
 'VisibilityHighMiles',
 'VisibilityAvgMiles',
 'VisibilityLowMiles',
 'WindHighMPH',
 'WindAvgMPH',
 'WindGustMPH',
 'Snow',
 'Fog',
 'Rain',
 'Thunderstorm']```
 
 Your `y` should be a subset of `austin_fixed` containing one column `TempAvgF`.

In [51]:
# Your code here:
# Define the predictor columns (X) and response column (y)
X_columns = ['Date',  'TempHighF',  'TempLowF',  'DewPointHighF',  'DewPointAvgF',  'DewPointLowF',  'HumidityHighPercent',  
             'HumidityAvgPercent',  'HumidityLowPercent',  'SeaLevelPressureHighInches',  'SeaLevelPressureAvgInches',  
             'SeaLevelPressureLowInches',  'VisibilityHighMiles',  'VisibilityAvgMiles',  'VisibilityLowMiles',  'WindHighMPH', 
             'WindAvgMPH',  'WindGustMPH',  'Snow',  'Fog',  'Rain',  'Thunderstorm']

X = weather_df[X_columns]
y = weather_df['TempAvgF']

# Check the predictor and response variables
display(X.head())
display(y.head())

,Date,TempHighF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,SeaLevelPressureHighInches,...,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,Snow,Fog,Rain,Thunderstorm
0,735223,74,45,67.0,49.0,43.0,93.0,75.0,57.0,29.86,...,10.0,7.0,2.0,20.0,4.0,31.0,0,0,1,1
1,735224,56,39,43.0,36.0,28.0,93.0,68.0,43.0,30.41,...,10.0,10.0,5.0,16.0,6.0,25.0,0,0,0,0
2,735225,58,32,31.0,27.0,23.0,76.0,52.0,27.0,30.56,...,10.0,10.0,10.0,8.0,3.0,12.0,0,0,0,0
3,735226,61,31,36.0,28.0,21.0,89.0,56.0,22.0,30.56,...,10.0,10.0,7.0,12.0,4.0,20.0,0,0,0,0
4,735227,58,41,44.0,40.0,36.0,86.0,71.0,56.0,30.41,...,10.0,10.0,7.0,10.0,2.0,16.0,0,0,0,0

0    60
1    48
2    45
3    46
4    50
Name: TempAvgF, dtype: int64

In the next cell, import `train_test_split` from `sklearn.model_selection`

In [52]:
#Your code here:
from sklearn.model_selection import train_test_split

Now that we have split the data to predictor and response variables and imported the `train_test_split()` function, split `X` and `y` into `X_train`, `X_test`, `y_train`, and `y_test`. 80% of the data should be in the training set and 20% in the test set. `train_test_split()` reference can be accessed [here](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html).


Enter your code in the cell below:

In [54]:
#Your code here:
# Split the data into training and test sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42) # setting random state for consistency

# Check the shapes of the resulting datasets

print(f"X_train shape: {X_train.shape}")
print(f"X_test shape: {X_test.shape}")
print(f"y_train shape: {y_train.shape}")
print(f"y_test shape: {y_test.shape}")

X_train shape: (1055, 22)
X_test shape: (264, 22)
y_train shape: (1055,)
y_test shape: (264,)

#### Congratulations! Now you have finished the preparation of the dataset!

# Bonus Challenge 1

#### While the above is the common practice to prepare most datasets, when it comes to time series data, we sometimes do not want to randomly select rows from our dataset.

This is because many time series algorithms rely on observations having equal time distances between them. In such cases, we typically select the majority of rows as the test data and the last few rows as the training data. We don't use `train_test_split()` to select the train/test data because it returns random selections.

In the following cell, compute the number of rows that account for 80% of our data and round it to the next integer. Assign this number to `ts_rows`.

In [55]:
# Your code here:
# Calculate the number of rows that account for 80% of the data
ts_rows = int(len(X) * 0.8)
ts_rows

1055

Assign the first `ts_rows` rows of `X` to `X_ts_train` and the remaining rows to `X_ts_test`.

In [57]:
# Your code here:
X_ts_train = X.iloc[:ts_rows]
X_ts_test = X.iloc[ts_rows:]
y_ts_train = y.iloc[:ts_rows]
y_ts_test = y.iloc[ts_rows:]

# Check the shapes of the resulting time series datasets
print(f"X_ts_train shape: {X_ts_train.shape}")
print(f"X_ts_test shape: {X_ts_test.shape}")
print(f"y_ts_train shape: {y_ts_train.shape}")
print(f"y_ts_test shape: {y_ts_test.shape}")

X_ts_train shape: (1055, 22)
X_ts_test shape: (264, 22)
y_ts_train shape: (1055,)
y_ts_test shape: (264,)

Assign the first `ts_rows` rows of `y` to `y_ts_train` and the remaining rows to `y_ts_test`.

In [ ]:
# Your code here:
# done above all together